<!DOCTYPE html>
<html lang="ja"> 
<head> 
  <meta charset="UTF-8" /> 
  <title>次の祝日は？</title>
  <style type="text/css">
    body {
      margin: 0px;
      padding: 0px;
      background-color: #C0DEED;
      text-align: center;
      font-family: 'Lucida Grande',sans-serif;
      color: #333333;
    }

    div#status {
      text-align: left;
      margin: 50px auto;
      padding: 10px;
      background-color: #ffffff;
      font-size: 18px;
      line-height: 25px;
      width: 500px;
      height: 50px;
      border: 1px solid #2276BB;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
    }
    div#footer {
      margin: auto;
      width: 500px;
      height: 36px;
      font-size: 10px;
      line-height: 18px;
    }
    a:link, a:visited, a:active {
      color: #333333;
      text-decoration: none;
    }
    a:hover {
      color: #2276BB;
    }
  </style>
</head>
<body>
  <div id="status">
    <%= yield %>
  </div>
  <div id="footer">
    <a href="http://github.com/nkmrshn/next_holiday">next_holiday - GitHub</a>
  </div>
</body>
</html>
